[core]
	# gitignoreの場所
	excludesfile = /Users/jishii1204/.gitignore
	# 改行コードの自動変換をしない
	autocrlf = false
	# ファイル名の大文字と小文字を区別する
	ignorecase = false 
	# 日本語ファイル名をエンコードしない
	quotepath = false

[color]
	# 色付け
	ui = true

[push]
	default = current

[pull]
	ff = only
	rebase = false

[user]
	name = Jun Ishii
	email = jishii1204@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/jishii1204/.stCommitMsg
